[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "private"]
	path = private
	url = https://github.com/itspacchu/0x45.in
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "public/projects/webrun"]
	path = public/projects/webrun
	url = https://github.com/itspacchu/webprojects
